{% extends "base.html" %}

{% block content %}
  {% if config.enable_homepage %}
    <div class="page-header">
    <h2>Search Trains</h2>
    <em>Explore India on the wonderful train network!</em>
    </div>

    <form autocomplete=off>
      <div class="mb-3" id="from-station-div">
        <label for="from-station-text" class="form-label">From</label>
        <input type="text" name="from_name" class="form-control" id="from-station-text">
        <input type="text" name ="from" class="form-control" id="from-station" style="display: none;">
        <ul id="from-station-autocomplete-items" class="form-control autocomplete-list" style="display: none;" data-text-target="#from-station-text" data-value-target="#from-station">
        </ul>
      </div>
      <div class="mb-3" id="to-station-div">
        <label for="from-station" class="form-label">To</label>
        <input type="text" name="to-name" class="form-control" id="to-station-text">
        <input type="text" name="to" class="form-control" id="to-station" style="display: none;">
        <ul id="to-station-autocomplete-items" class="form-control autocomplete-list" style="display: none;" data-text-target="#to-station-text" data-value-target="#to-station">
        </ul>
      </div>
      <button type="submit" class="btn btn-primary">Search Trains</button>
    </form>

  {% else %}
  <div>
    <br>

    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Hold On!</h4>
      <p>You need to set <code>enable_homepage = True</code> in the <code>train_ride/config.py</code> to enable the home page.</p>
    </div>
  </div>

  {% endif %}
{% endblock %}
