
#page {
    padding: 20px 0px;
}

.page-header {
    margin-bottom: 20px;
}

.autocomplete-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.autocomplete-list .autocomplete-item { 
    padding: 0.4rem;
}

.autocomplete-list .autocomplete-item:hover { 
    background-color: var(--bs-primary);
    color: var(--bs-light);
}
